.root{
     -fx-background-image:url("fondo2.jpg");
}
#asteroide {
   -fx-fill: #58FAF4;
   -fx-stroke:blue;
   -fx-stroke-width: 3; 
}
#poligono1 {
    -fx-fill: #EFFBFB;
    -fx-stroke:red;
    -fx-stroke-width: 2;
}
#poligono2 {
    -fx-fill: #A9F5F2;
    -fx-stroke:red;
    -fx-stroke-width: 2;
}
#poligono3 {
    -fx-fill: #0B615E;
    -fx-stroke:red;
    -fx-stroke-width: 2;
}
#poligono4 {
    -fx-fill: #0B243B;
    -fx-stroke:red;
    -fx-stroke-width: 2;
}
#poligono5 {
    -fx-fill: #0000FF;
    -fx-stroke:red;
    -fx-stroke-width: 2;
}
#rectangle1 {
    -fx-fill: #EFFBFB;
    -fx-stroke:red;
    -fx-stroke-width: 2;
}
.label{
    -fx-background-color: #0B243B;
}